plotly
fsspec
seaborn
matplotlib
numpy
numba
tqdm
pandas
yfinance
python-dotenv
joblib
xlsxwriter
tabulate
ta
optuna
mplfinance
pytest
ccxt
pyarrow
vectorbt
pandas-ta
scikit-learn
requests
cupy-cuda13x